  <a href="#" id="more-lnk" class="fa fa-info-circle fa-2x" onclick="showDetail()">&nbsp;</a>
  <footer id="footer">
    <div id="more-detail">
      <a href="/privacy" class="floatRight w3-text-blue">Privacy policy</a>
      <div style="position:absolute; float: left; left: 12px;">
        <a href="#" id="hide" onclick="hideDetail()"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></a>
      </div>
      
      Coded by: <a href="https://www.freecodecamp.org/johnnybizzel">Johnny Bizzel</a> @
      <img src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" 
      style="width: 180px">

    </div>
  </footer>
