<div class="w3-bar w3-teal">
  <a href="/" id="homelink" class="w3-bar-item w3-button w3-mobile"><span class="highlight">Pix</span>terest!</a>
 
  <% if (user) { %>
  <nav class="floatRight">
    <span class="w3-bar-item w3-mobile">Hello, <span style="color:#efef00;"><%= user.name %></span></span>
    <a href="/addpic" class="w3-bar-item w3-button w3-mobile">Add Pic</a>
    <a href="/?mine=1" class="w3-bar-item w3-button w3-mobile">My Pics</a>
    <a href="/?likes=1" class="w3-bar-item w3-button w3-mobile">My Likes</a>  
    <a href="/api/logout" class="w3-bar-item w3-button w3-mobile">log out&nbsp;<i class="fas fa-sign-out-alt"></i></a>
  
  <% } %>
  <% if (!user) { %>
  <nav class="floatRight">
    <span class="w3-bar-item w3-mobile w3-small">To add pics, log in via:</span> 
    <a href="/auth/gh" class="w3-bar-item w3-button w3-mobile sign-in" data-hov-txt="sign in using GitHub">GitHub <i class="fab fa-github"></i></a>
    <a href="/auth/google" class="w3-bar-item w3-button w3-mobile sign-in" alt="sign in using Google">Google <i class="fab fa-google"></i></a>
    <a href="/auth/fb" class="w3-bar-item w3-button w3-mobile sign-in" alt="sign in using Google">Facebook <i class="fab fa-facebook"></i></a>
    <a href="/auth/twitter" class="w3-bar-item w3-button w3-mobile sign-in" alt="sign in using Twitter">Twitter <i class="fab fa-twitter"></i></a>

  <% } %>
  </nav>
</div>
<div class="w3-bar w3-lime">
  
  <span class="w3-bar-item w3-mobile">Select a section:</span>
  <a href="/?sect=Art" class="w3-bar-item w3-button w3-mobile w3-khaki">
    <i class="fas fa-paint-brush" aria-hidden="true"></i> Art</a>
  <a href="/?sect=Food" class="w3-bar-item w3-button w3-mobile w3-red">
    <i class="fas fa-utensils" aria-hidden="true"></i> Food</a>
  <a href="/?sect=Photography" class="w3-bar-item w3-button w3-mobile w3-blue">
    <i class="fas fa-image" aria-hidden="true"></i> Photography</a>
  <a href="/?sect=Nature" class="w3-bar-item w3-button w3-mobile w3-green">
    <i class="fab fa-pagelines" aria-hidden="true"></i> Nature</a>
  <a href="/?sect=Sport" class="w3-bar-item w3-button w3-mobile w3-purple">
    <i class="fas fa-football-ball" aria-hidden="true"></i> Sport</a>
  <a href="/?sect=Funny" class="w3-bar-item w3-button w3-mobile w3-amber">
    <i class="far fa-smile" aria-hidden="true"></i> Funny</a>
  <a href="/?sect=Celebs" class="w3-bar-item w3-button w3-mobile w3-pink">
    <i class="fas fa-star" aria-hidden="true"></i> Celebs</a>
  <a href="/?sect=Random" class="w3-bar-item w3-button w3-mobile w3-brown">
    <i class="fas fa-random" aria-hidden="true"></i> Random</a>
  <a href="/" class="w3-bar-item w3-button w3-mobile">Show all</a>
</div>

