<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" -->
  <title>Pixterest - Privacy Policy</title>
  
  <link rel="stylesheet prefetch" href="https://www.w3schools.com/w3css/4/w3.css"/>

</head>
  <body>
    
    <div class="w3-quarter">
      &emsp;
    </div>
    
    <div class="w3-half">
      <h2 class="w3-text-green">
      Privacy Policy
    </h2>
      <p>
      This is a project for <a href="http://freecodecamp.org">FreeCodeCamp.org</a>
      <br/>
      The goal is to practice my skills using nodeJs and MongoDb, 2 new technologies.
      <br/>      
      By logging in you agree for your name to be stored on this database.
      <br/>
      No other personal details are stored other than your authentication provider's supplied Id.
      <br/>
      This information is already publicly available and is stored in the database for ease of access on future visits to this site.
        <br/>
      Any pictures stored are linked to their original source and are not saved on these servers. 
        <br/>
      The copyright remains with the original uploader of the image.
    </p>
    </div>
    <div class="w3-quarter">
      &emsp;
    </div>
  </body>
</html>