* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  color: pink;
}

.grid-item { width: 262px; margin: 4px 4px }
.grid-item--width2 { width: 500px; }
.top-rounded {
  border-radius: 16px 16px 0 0;
}
.bottom-rounded {
  border-radius: 0 0 16px 16px;
}
i { margin: 4px 0;}
sup { color: crimson; }
img.land {
  width: 472px;
  height: auto;
}
img.port {
  width: 234px;
  height: auto;
}
img.square {
  width: 234px;
  height: auto;
}
.w3-card-4, .w3-card-2 { padding: 8px}
/* .border-blue { 
  border-left: 6px solid dodgerblue;
  border-right: 6px solid dodgerblue;
} */
.floatRight {
  float: right;
}
.posAbsRight {
  position:absolute;
  right: 15px;
}
#errFeedback, #errFeedbackClientLink, #errFeedbackClientDesc {
  position: absolute;
  right: 10px;
  top:0;
  z-index: 2;
  display:block;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
@media screen and (max-width: 600px) {

  .floatRight {
    float: none;
  }

  .grid-item--width2 { max-width: 360px; }
  img.land {
    max-width: 332px;
    height: auto;
  }
}